@charset "utf-8";

body{
    background-image: url("../images/background.png");
    background-color: rgb(27, 27, 27);
    background-repeat: no-repeat;
    background-position: center;
}
header{
    margin-bottom: 150px;
}
#title{
    font-size: 50pt;
    text-align: center;
    color: rgb(255, 166, 166);
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.726);
}
#firstDiv{
    text-align: center;
}
.command{
    font-size: 40pt;
    height: 150px;
    width: 150px;
    margin: 6px;
    border-radius: 4px;
    border: 5px solid rgba(0, 0, 0, 0.24);
    color: black;
    font-weight: bolder;
}
#primeiroBotao{
    background-image: url("../images/tom1.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#segundoBotao{
    background-image: url("../images/tom2.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#terceiroBotao{
    background-image: url("../images/tom3.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#quartoBotao{
    background-image: url("../images/tom4.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#quintoBotao{
    background-image: url("../images/snare.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#sextoBotao{
    background-image: url("../images/crash.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#setimoBotao{
    background-image: url("../images/kick.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
footer{
    text-align: center;
    color: white;
    margin-top: 200px;
}